:root {
  --font-sm: 0.9rem;
  --font-md: 1rem;
  --font-ml: 1.5rem;
  --font-lg: 2rem;
  --font-xl: 3rem;
  --content-width-xl: 70rem;
  --content-width-prose: 40rem;
}

body {
  font-family: Sans-Serif;
  max-width: var(--content-width-xl);
}

#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 50dvh;
}

#hero-left {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-right-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 2em;
}

.hero-btn {
  margin-top: 1em;
}

#agenda {
  max-width: var(--content-width-prose);
  margin: auto;
  padding: 1rem 0;
}

.agenda-day {
  margin: 1em;
  font-size: var(--font-ml);
}

.event {
  font-size: var(--font-md);
  margin: 0.5em 0;
  position: relative;
}

.event-header {
  display: grid;
  grid-template-columns: 1fr 3em;
}

.event-title {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.event-start {
  text-align: right;
}

.event-loc {
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.event-end {
  text-align: right;
  color: gray;
}

.event-text {
  font-size: var(--font-sm);
  margin: 0.5em 0;
}
