:root {
  --font-sm: 0.9rem;
  --font-md: 1rem;
  --font-mm: 1.25rem;
  --font-ml: 1.5rem;
  --font-lg: 2rem;
  --font-xl: 3rem;

  --font-title: Shrikhand, serif;
  --font-body: Athiti, sans-serif;

  --content-width-xl: 70rem;
  --content-width: 45rem;
  --content-width-prose: 30rem;
  --content-width-column: 20rem;

  --sky-blue: #71c3d6;
  --ivory: #fffceb;
  --salmon-pink: #f7a1ad/*#f48292*/;
  --space-cadet: #30354b;
  --jade: #5da271;
  /* --dark-purple: #320a28; */
  --palatinate: #661452;

  --rainbow-1: #de324c;
  --rainbow-2: #f4895f;
  --rainbow-3: #f8e16f;
  --rainbow-4: #95cf92;
  --rainbow-5: #369acc;
  --rainbow-6: #9656a2;

  --gap-1: 1rem;
  --gap-2: calc(var(--gap-1) * 2);
  --gap-4: calc(var(--gap-1) * 4);
}

@keyframes roll {
  0% {
    transform: rotate(0);
    transform: scale(1.0);
  }
  100% {
    transform: rotate(-1deg) scale(1.015);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  /* max-width: var(--content-width-xl); */
  background-color: var(--space-cadet);
  margin: auto;
  line-height: 1.25;
}

h2 {
  margin: 1.5rem 0;
  font-family: var(--font-title);
  color: var(--salmon-pink);
  font-size: var(--font-xl);
  text-align: center;
}

#hero {
  /* background-color: var(--ivory); */
  background: url(/priv/static/hero_background_stars.svg), url(/priv/static/hero_background_layers.svg);
  background-size: cover;
  /* padding: 5rem 0; */

  anchor-name: --anchor-hero;

  position: relative;

  /* This is not for the actual flex boxing, that happens in #hero-container */
  /* This is just to vertically center */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar {
  font-size: var(--font-ml);
}

#navbar-container {
  max-width: var(--content-width);
  margin: var(--gap-1) auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-1);
}

.navbar-section {
  display:flex;
  gap: 0.5em;
}

.navbar-section > a {
  text-decoration: none;
  color: var(--space-cadet);
  font-weight: bold;
}

.navbar-section > a > svg {
  /* height: 100%; */
  fill: var(--space-cadet);
  max-height: 1em;
  width: 1.25em;
}

#hero-container {
  max-width: var(--content-width);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5rem 2rem 7rem 2rem;
  gap: var(--gap-2);

}
/* @media screen and (max-width: var(--content-width)) { */
@media screen and (max-width: 50rem) {
  #hero {
    background: url(/priv/static/hero_background_stars_portrait.svg), url(/priv/static/hero_background_layers_portrait.svg);
    height: 95dvh;
    padding: 0;
  }

  #navbar-container {
    flex-direction: column;
  }

  #hero-container {
    flex-direction: column;
    padding: 2rem 0;
  }
}

#hero-left {
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 0 2rem;
  font-family: var(--font-title);
  font-size: var(--font-xl);
  /* color: var(--palatinate); */
  color: var(--space-cadet);
}

#hero-right-content {
  /* position: relative; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  text-align: center;
  padding: 0 2rem;
}

.hero-text {
  font-size: var(--font-lg);
}

.hero-btn {
  /* margin-top: 1em; */
  border: none;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  color: var(--ivory);
  background-color: var(--space-cadet);
  font-family: var(--font-body);
  font-size: var(--font-md);
}
.hero-btn:hover{
  animation: roll 0.1s ease forwards;
}

#hero-transition {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  /* position-anchor: --anchor-hero; */
  /* position-area: span-start; */
  height: var(--gap-4);
  width: 100%;
  min-width: 35rem;
}

#about-section {
  max-width: var(--content-width);
  margin: var(--gap-4) auto;
  padding: 1rem 0;

  color: var(--ivory);

  text-align: justify;
  text-justify: inter-word;
  padding: 0 1rem;

  anchor-name: --about-section;
}

#about-text {
  /* column-count: 2; */
  column-width: var(--content-width-column);
  column-gap: var(--gap-2);
  font-size: var(--font-mm);
}

#agenda-transition {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  /* position-anchor: --anchor-hero; */
  /* position-area: span-start; */
  height: var(--gap-4);
  width: 100%;
  min-width: 35rem;

  rotate: 180deg;
}

#agenda-section {
  /* max-width: var(--content-width-prose); */
  /* margin: auto; */
  padding: 5rem 1rem 1rem 1rem;

  position: relative;
  background-color: var(--salmon-pink);
}

#agenda-section > h2 {
  color: var(--space-cadet);
}

.agenda-day {
  max-width: var(--content-width-prose);
  margin: 1rem auto;

  padding: 0.5rem 1rem;
  /* margin: 1rem 0; */
  font-size: var(--font-ml);
  background-color: var(--ivory);
  border-radius: 1rem
}

.agenda-day:hover {
  animation: roll 0.1s ease forwards;
  /* transform: rotate(-5deg); */
}

.agenda-day-header {
  /* border-bottom: ; */
}

.agenda-day > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--space-cadet);
    /* margin: 1em 0; */
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
  }

.event {
  font-size: var(--font-md);
  margin: 0.5em 0;
  position: relative;
}

.event-header {
  display: grid;
  /* grid-template-columns: 1fr 3em; */
  grid-template-columns: 2.5em 1.5em minmax(0, 1fr);
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  /* white-space: nowrap; */
}

.event-start {
  text-align: right;
}

.event-end {
  text-align: right;
  color: gray;
}

.event-header-divider {
  border-radius: 1rem;
  margin: 0.25rem 0.5rem;
}

.event-title {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.event-loc {
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.event-text {
  font-size: var(--font-sm);
  margin: 0.5em 0;

  text-align: justify;
  text-justify: inter-word;

  overflow-wrap: anywhere;
}
