@import url(/assets/css/common.css);

div.admin-panel {
  max-width: var(--content-width);
  min-height: 100dvh;

  /* horizontally center the panel on the page */
  margin: auto;
  
  display: flex;
  /* panes form a vertical column */
  flex-direction: column;
  /* vertically center panel panes */
  justify-content: center;
  /* allow panes to fill available width */
  align-items: stretch;
  gap: 0.5em;
}

div.admin-panel h1 {
  text-align: center;
  color: var(--salmon-pink);

  /* prevent overlap with nav */
  margin-top: 4rem;
}
@media screen and (max-width: 50rem) {
  div.admin-panel h1 {
    /* nav has two rows on narrow screen, so we need a bigger margin */
    margin-top: 6rem;
  }
}

div.admin-panel h2 {
  color: var(--space-cadet);
  font-size: var(--font-lg);
}

.admin-announcements-list, .admin-events-list, .admin-chats-list {
  background-color: var(--ivory);
  color: var(--space-cadet);

  border-radius: 1rem;
  padding: 0.5rem 1rem 1.5rem 1rem;

  display: flex;
  /* items form a vertical column */
  flex-direction: column;
  /* vertically center items */
  justify-content: center;
  /* allow items to fill available width */
  align-items: stretch;
  gap: 0.5em;
}

.admin-announcement, .admin-event, .admin-chat {
  display: flex;
  /* push items to edges of flexbox */
  justify-content: space-between;
  align-items: baseline;
  gap: 0.5em;
}

.admin-announcement-info, .admin-event-info, .admin-chat-info {
  font-size: var(--font-mdm);

  /* omit long text instead of breaking layout */
  overflow: hidden;
  max-height: 1em;
}

.admin-announcement-controls, .admin-event-controls, .admin-chat-controls {
  /* avoid being squeezed by long text in *-announcement-info */
  min-width: fit-content;
}

.admin-panel hr {
  display: block;
  height: 1px;
  border: 0;
  /* TODO: should probably match this to the colourscheme and make a var */
  border-top: 1px solid #aaaaaa;
  margin: 0.5rem;
  padding: 0;
}

.button {
  /* remove underline */
  text-decoration: none;
  font-weight: bold;
  font-size: var(--font-md);

  border: 0.1em solid;
  border-radius: 1em;
  padding: 0em 0.5em;
  margin: 0em 0.1em;

  color: var(--space-cadet);
  background-color: var(--ivory);
  border-color: var(--space-cadet);
}

.new-button {
  align-self: flex-start;
  padding: 0.25em 0.5em;
}

.delete-button {
  color: var(--rainbow-1);
  border-color: var(--rainbow-1);
}
