@import url(/assets/css/common.css);

form {
  max-width: var(--content-width-prose);
  min-height: 100dvh;

  /* horizontally center the form on the page */
  margin: auto;
  
  display: flex;
  /* form items form a vertical column */
  flex-direction: column;
  /* vertically center form content */
  justify-content: center;
  /* allow fields to fill available width */
  align-items: stretch;
  gap: 0.5em;
}

form h1 {
  text-align: center;
  color: var(--salmon-pink);

  /* prevent overlap with nav */
  margin-top: 4rem;
}

@media screen and (max-width: 50rem) {
  form h1 {
    /* nav has two rows on narrow screen, so we need a bigger margin */
    margin-top: 7rem;
  }
}

form input, form label, form textarea {
  /* shows label and input on separate lines */
  display: block;
  /* hacky because it doesn't account for margin/border/padding, so we have to account for that
     manually... width: auto; would be better, but it gets overridden by the input's default
     `size` */
  width: 100%;
}

form label {
  font-weight: bold;
  font-size: var(--font-mm);
}

form input {
  border: 0.1em;
  padding: 0 0.5em;
  border-radius: 0.35em;

  background-color: var(--ivory);
  color: var(--space-cadet);
  font: var(--font-body);
  font-size: var(--font-md);
}

form textarea {
  border: 0.1em;
  padding: 0 0.5em;
  border-radius: 0.35em;

  background-color: var(--ivory);
  color: var(--space-cadet);
  font: var(--font-body);
  font-size: var(--font-md);
}

.form-submit {
  align-self: flex-end;

  /* allow a little blank space at the bottom of the screen to avoid a crammed feeling */
  margin-bottom: 2rem;
}

form button {
  font-weight: bold;
  font-size: var(--font-mm);
  border: 0.1em solid;
  padding: 0em 0.5em;
  color: var(--ivory);
  background-color: var(--space-cadet);
  border-color: var(--ivory);
  margin-top: 0.5em;
}
