<!doctype html>
<html lang="en">
  {{head|safe}}
  <body>
    {{nav|safe}}
    <div class="admin-panel">
      <h1>Admin Panel</h1>
      <div class="admin-announcements-list">
        <h2>Announcements</h2>
        <a href="/new_announcement" class="new-button button">+ Add Announcement</a>
        {% for announcement in announcements %}
        <hr/>
        <div class="admin-announcement">
          <div class="admin-announcement-info">
            <strong>{{announcement.date.format("%d/%m/%Y")}}</strong> {{announcement.title}}
          </div>
          <div class="admin-announcement-controls">
            <a href="/edit_announcement?id={{announcement.id}}" class="edit-button button">Edit</a>
            <a href="/delete_announcement?id={{announcement.id}}" class="delete-button button">Delete</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="admin-events-list">
        <h2>Events</h2>
        <a href="/new_event" class="new-button button">+ Add Event</a>
        {% for event in events %}
        <hr/>
        <div class="admin-event">
          <div class="admin-event-info">
            <strong>{{event.date.format("%d/%m/%Y")}}</strong> {{event.title}}
          </div>
          <div class="admin-event-controls"></div>
          <div class="admin-event-controls">
            <a href="/edit_event?id={{event.id}}" class="edit-button button">Edit</a>
            <a href="/delete_event?id={{event.id}}" class="delete-button button">Delete</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="admin-chats-list">
        <h2>Chats</h2>
        {% for chat in chats %}
        <div class="admin-chat">
          <div class="admin-chat-info">
            <strong>{{chat.name}}</strong>
          </div>
          <div class="admin-chat-controls">
            <a href="/edit_chat?id={{chat.id}}" class="edit-button button">Edit</a>
            <a href="/delete_chat?id={{chat.id}}" class="delete-button button">Delete</a>
          </div>
        </div>
        <hr/>
        {% endfor %}
        <a href="/new_chat" class="new-button button">+ Add Chat</a>
      </div>
    </div>
  </body>
</html>
