<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sappho's Friends</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <!-- <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" /> -->
    <!-- <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" /> -->
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />

    <!-- round icons -->
    <link rel="icon" type="image/png" href="/assets/favicon-round/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon-round/favicon.svg" />
    <!-- <link rel="shortcut icon" href="/assets/favicon-round/favicon.ico" /> -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon-round/apple-touch-icon.png" /> -->
    <!-- <link rel="manifest" href="/assets/favicon-round/site.webmanifest" /> -->
    
    <link rel="stylesheet" href="/assets/css/admin.css?v=1.0">
    <!-- <script type="module" src="/script.mjs?v=1.1"></script> -->
  </head>

  <body>
    <div class="admin-panel">
      <h1>Admin Panel</h1>
      <div class="admin-announcements-list">
        <h2>Announcements</h2>
        {% for announcement in announcements %}
        <div class="admin-announcement">
          <div class="admin-announcement-info">
            <strong>{{announcement.date.format("%d/%m/%Y")}}</strong> {{announcement.title}}
          </div>
          <div class="admin-announcement-controls">
            <a href="/edit_announcement?id={{announcement.id}}" class="edit-button button">Edit</a>
            <a href="/delete_announcement?id={{announcement.id}}" class="delete-button button">Delete</a>
          </div>
        </div>
        <hr/>
        {% endfor %}
        <a href="/new_announcement" class="new-button button">+ Add Announcement</a>
      </div>
      <div class="admin-events-list">
        <h2>Events</h2>
        {% for event in events %}
        <div class="admin-event">
          <div class="admin-event-info">
            <strong>{{event.date.format("%d/%m/%Y")}}</strong> {{event.title}}
          </div>
          <div class="admin-event-controls"></div>
          <div class="admin-event-controls">
            <a href="/edit_event?id={{event.id}}" class="edit-button button">Edit</a>
            <a href="/delete_event?id={{event.id}}" class="delete-button button">Delete</a>
          </div>
        </div>
        {% endfor %}
        <a href="/new_event" class="new-button button">+ Add Event</a>
      </div>
    </div>
  </body>
</html>
