<!doctype html>
<html lang="en">
  {{head|safe}}
  <body>
    {{nav|safe}}
    <form action="edit_chat?id={{id}}" method="post" class="chat-form">
      <h1>Edit a Chat</h1>
      <div class="form-field">
        <label for="name">Name: *</label>
        <input type="text" name="name" id="name" value="{{chat.name}}" required />
      </div>
      <div class="form-field">
        <label for="link">Link: *</label>
        <input type="text" name="link" id="link" value="{{chat.link}}" required />
      </div>
      <div class="form-submit">
        <button type="submit">Post!</button>
      </div>
    </form>
  </body>
</html>
