<!doctype html>
<html lang="en">
  {{head|safe}}
  <body>
    {{nav|safe}}
    <form action="edit_event?id={{id}}" method="post" class="event-form">
      <h1>Edit an Event</h1>
      <div class="form-field">
        <label for="title">Title: *</label>
        <input type="text" name="title" id="title" value="{{event.title}}" required />
      </div>
      <div class="form-field">
        <label for="location">Location: </label>
        <input type="text" name="location" id="location" {% if event.location.is_some() %} value="{{event.location.as_ref().unwrap()}}"{% endif %} />
      </div>
      <div class="form-field">
        <label for="description">Description: </label>
        <textarea name="description" id="description" rows="10">{% if event.description.is_some() %}{{event.description.as_ref().unwrap()}}{% endif %}</textarea>
      </div>
      <div class="form-field">
        <label for="start_date">Start date: *</label>
        <input type="date" name="start_date" id="start_date" value="{{event.start_date}}" required />
      </div>
      <div class="form-field">
        <label for="end_date">End date: (leave blank for same as start date)</label>
        <input type="date" name="end_date" id="end_date"{% if event.end_date.is_some() %} value="{{event.end_date.unwrap()}}"{% endif %} />
      </div>
      <div class="form-field">
        <label for="start_time">Start time: </label>
        <input type="time" name="start_time" id="start_time"{% if event.start_time.is_some() %} value="{{event.start_time.unwrap()}}"{% endif %} />
      </div>
      <div class="form-field">
        <label for="end_time">End time: </label>
        <input type="time" name="end_time" id="end_time"{% if event.end_time.is_some() %} value="{{event.end_time.unwrap()}}"{% endif %} />
      </div>
      <div class="form-field">
        <label for="host">Host: </label>
        <input type="text" name="host" id="host" {% if event.host.is_some() %} value="{{event.host.as_ref().unwrap()}}"{% endif %} />
      </div>
      <div class="form-field">
        <label for="host_email">Host email: </label>
        <input type="text" name="host_email" id="host_email" {% if event.host_email.is_some() %} value="{{event.host_email.as_ref().unwrap()}}"{% endif %} />
      </div>
      <div class="form-submit">
        <button type="submit">Post!</button>
      </div>
    </form>
  </body>
</html>
