<!doctype html>
<html lang="en">
  {{head|safe}}
  <body>
    <form action="login" method="post" class="login-form">
      <h1>Log in</h1>

      <div class="form-field">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required />
      </div>

      <div class="form-field">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required />
      </div>

      <div class="form-submit">
        <button type="submit">Log in!</button>
      </div>

      {% if let Some(next) = next %}
      <input type="hidden" name="next" value="{{next}}" />
      {% endif %}

    </form>
  </body>
</html>
