<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sappho's Friends</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <!-- <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" /> -->
    <!-- <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" /> -->
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />

    <!-- round icons -->
    <link rel="icon" type="image/png" href="/assets/favicon-round/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon-round/favicon.svg" />
    <!-- <link rel="shortcut icon" href="/assets/favicon-round/favicon.ico" /> -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon-round/apple-touch-icon.png" /> -->
    <!-- <link rel="manifest" href="/assets/favicon-round/site.webmanifest" /> -->
    
    <link rel="stylesheet" href="/assets/css/form.css?v=1.0">
    <!-- <script type="module" src="/script.mjs?v=1.1"></script> -->
  </head>

  <body>
    {{nav|safe}}
    <form action="new_event" method="post" class="event-form">
      <h1>Create an Event</h1>
      <div class="form-field">
        <label for="title">Title: *</label>
        <input type="text" name="title" id="title" required />
      </div>
      <div class="form-field">
        <label for="location">Location: </label>
        <input type="text" name="location" id="location" />
      </div>
      <div class="form-field">
        <label for="description">Description: </label>
        <textarea name="description" id="description" rows="10"></textarea>
      </div>
      <div class="form-field">
        <label for="start_date">Start date: *</label>
        <input type="date" name="start_date" id="start_date" required />
      </div>
      <div class="form-field">
        <label for="end_date">End date: (leave blank for same as start date)</label>
        <input type="date" name="end_date" id="end_date" />
      </div>
      <div class="form-field">
        <label for="start_time">Start time: </label>
        <input type="time" name="start_time" id="start_time" />
      </div>
      <div class="form-field">
        <label for="end_time">End time: </label>
        <input type="time" name="end_time" id="end_time" />
      </div>
      <div class="form-field">
        <label for="host">Host: </label>
        <input type="text" name="host" id="host" />
      </div>
      <div class="form-field">
        <label for="host_email">Host email: </label>
        <input type="text" name="host_email" id="host_email" />
      </div>
      <div class="form-submit">
        <button type="submit">Post!</button>
      </div>
    </form>
  </body>
</html>
