<!doctype html>
<html lang="en">
  {{head|safe}}
  <body>
    <main>
      {{nav|safe}}
      <div id="chats-panel">
        <h1>Our signal chats</h1>
        <div id="chats-list">
          {% for chat in chats %}
          <div class="chat">
            <a href="{{chat.link}}">{{chat.name}}</a>
          </div>
          {% endfor %}
      </div>
      <div id="coc">
        <h2>Code of conduct</h2>
        <div class="coc-text">
          <p>
            <strong>Purpose:</strong> SF (Sappho’s friends) chats exist for members to connect and to foster a sense of queer community in the Oslo area. 
          </p>

          <p>
            <strong>Climate:</strong> SF chats are more of a garden party than a debate club. The chats are for socialising and learning things about each other and activities. Be curious and supportive of everyone. Disagreements are normal but fights are not; it's OK to make your point, share a resource, and let someone be wrong. 
          </p>

          <p>
            <strong>Topicality:</strong> Please stick to the topic of the themed sub chats. If you have suggestions for a new chat or such, please let the admins know. Feel free to make separate group chats for discussions which are more niche and not as relevant to Sappho’s friends.
          </p>

          <p>
            <strong>Self-promotion:</strong> We welcome your shameless plug and want to support each others’ endeavours.  However this should not be one-sided, so keep a fair balance between self-promotion and other chatter. Outright scams and other dubious content will be removed.
          </p>

          <p>
            <strong>Other do’s and dont’s:</strong>
            <br>
            Abuse and bigotry is NOT welcome. Having a good faith discussion means staying on topic and refraining from personal attacks. SF group chats are not to be used to whip up an outrage mob and direct them at targets, especially individuals and other small organizations. 
          </p>

          <p>
            If you want to post a photo of participants from SF events in any group chat please make sure to have the identifiable people in the photo’s consent. When posting add «Taken and posted with the consent of Sappho’s friends and everyone in the photo».
          </p>

          <p>
            We are here and queer, but SF is not intended for dating/cruising. Discussions about sexual topics such as consent, kink, reproductive and sexual health are welcome. However, don’t use such conversations as an opportunity to hit on others in the group through for example unsolicited DMs. Meeting someone you have a sexual/romantic connection with through SF is of course fine, just make sure it is consensual. 
          </p>

          <p>
            Don’t assume anyone’s gender/pronouns. Feel free to put your pronouns visible in your profile, and if unsure of how to refer to someone ask in a considerate manner.
          </p>

          <p>
            No discussion of illegal activity such as buying/selling drugs. If people want to share resources on DYI HRT please create a separate chat for that, preferably on an end-to-end encrypted platform like Signal.
          </p>

          <p>
            <strong>Failure to comply:</strong>
            <br>
            Not following the code of conduct can get you banned from the group temporarily/permanently, however a warning will be issued first for lesser infringements.
          </p>

          <p>
            If anyone experiences any form of harassment of any kind in the chat please contact admin.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
